<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>--★阿福旅店★--USST48集团旗下八星级旅店 (つﾟωﾟ)つ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="login">
    <div class="window untouchable">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUserName"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">用户名(手机号)</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="text" class="form-control" id="inputUserName" placeholder="请输入用户名"
                           aria-describedby="inputError2Status">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">密码</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <div class=" text-center">
                    <div class="checkbox">
                        <label class="tips">
                            <input type="checkbox">保持登录状态<em> 非私人设备请勿勾选 </em>
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 col-lg-offset-5 col-lg-2 text-center">
                    <div type="submit" class="btn-primary btn-lg confirm untouchable">登录
                    </div>
                </div>
            </div>
            <div class="loginFooter text-center"><a class="forgot" href="#">忘记密码</a>|<a class="signup-btn"
                                                                                        href="#">注册用户</a>
            </div>
        </form>
    </div>
</div>
<div class="signup">
    <div class="window untouchable">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="signupUsername"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">用户名(手机号)</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="text" class="form-control" id="signupUsername" placeholder="请输入注册用手机号"
                           aria-describedby="inputError2Status">
                </div>
            </div>
            <div class="form-group">
                <label for="signupNickname"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">昵称</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="text" class="form-control" id="signupNickname" placeholder="请输入昵称"
                           aria-describedby="inputError2Status">
                </div>
            </div>
            <div class="form-group">
                <label for="signupPassword"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">密码</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="password" class="form-control" id="signupPassword" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="signupPasswordAgain"
                       class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-2 control-label">确认密码</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-2">
                    <input type="password" class="form-control" id="signupPasswordAgain" placeholder="请再次输入密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 col-lg-offset-5 col-lg-2 text-center">
                    <div type="submit" class="btn-primary btn-lg confirm untouchable">注册
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row top_banner">
    <div class="btn-primary login-btn confirm untouchable">登录</div>
    <div class="user-info untouchable">
        尊敬的 <span class="user-btn">(๑˙ー˙๑)未登录</span>，您好！<span class="logout-btn">登出</span>
    </div>
</div>
<div class="main">
    <div class="slider_container untouchable">
        <div>
            <span class="info">今夜，相约阿福，不见不散</span>
        </div>
        <div>
            <span class="info">贴心小姐姐尊贵倒茶体验</span>
        </div>
        <div>
            <span class="info">分店辐射全国各大USST分校</span>
        </div>
        <div>
            <span class="info">优雅，与生俱来</span>
        </div>
        <div>
            <span class="info">全球最大的同性交友旅店</span>
        </div>
    </div>
    <div class="searchBox">
        <div class="searchBoxContent untouchable">
            <label class="col-xs-12" for="bookingStart">入住日期：
                <input type="date" id="bookingStart">
                ~
                <input type="date" id="bookingEnd">
            </label>
            <label class="col-xs-12" for="bookingPrice">价格区间：
                <span id="bookingPrice">
                    <input type="number" min="0" max="9999" placeholder="最低">
                    ~
                    <input min="0" max="9999" type="number" placeholder="最高">
                </span>
            </label>
            <label class="col-xs-12" for="bookingType">客房类型：
                <select class="form-control" id="bookingType">
                    <option value="std">高端双床间</option>
                    <option value="big">至尊大床房</option>
                    <option value="thr">激情三人房</option>
                    <option value="suit">奢华总统套房</option>
                    <option value="" selected>任意</option>
                </select>
            </label>
            <label class="col-xs-12" for="bookingDirection">房间朝向：
                <select class="form-control" id="bookingDirection">
                    <option value="east">东</option>
                    <option value="south">南</option>
                    <option value="west">西</option>
                    <option value="north">北</option>
                    <option value="" selected>任意</option>
                </select>
            </label>
            <label class="col-xs-12" for="bookingFloor">楼层：
                <select class="form-control" id="bookingFloor">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="5">5</option>
                    <option value="" selected>任意</option>
                </select>
            </label>
            <label class="col-xs-12" for="bookingNumber">房号：
                <select class="form-control" id="bookingNumber" disabled>
                    <option v-for="number in numbers" :value="value" v-cloak="">{{number}}</option>
                    <option value="" selected>任意</option>
                </select>
            </label>
            <div class=" text-center">
                <div type="submit" class="btn-default btn-lg confirm untouchable">搜索</div>
            </div>
        </div>
    </div>
    <div class="searchList untouchable">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <table>
            <tr>
                <td>房型</td>
                <td>床型</td>
                <td>特殊服务</td>
                <td>房价</td>
                <td><!--预定--></td>
            </tr>
            <!--<tr>-->
            <!--<td>高端双床间</td>-->
            <!--<td>2</td>-->
            <!--<td>大保健</td>-->
            <!--<td>699</td>-->
            <!--<td>-->
            <!--<div class="book-btn btn-default btn-md">立即预定</div>-->
            <!--</td>-->
            <!--</tr>-->
            <tr v-cloak>
                <td class="searchListItem" v-for="item in searchResults">
                    {{item}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="footer">

</div>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/js-sha256.js"></script>
<script src="js/tools.js"></script>
<script src="js/index.js"></script>
</body>
</html>