<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <!-- Missing login -->
    <error-code>401</error-code>
    <location>/HTTP401.html</location>
  </error-page>
  <error-page>
    <!-- Forbidden directory listing -->
    <error-code>403</error-code>
    <location>/HTTP403.html</location>
  </error-page>
  <error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/HTTP404.html</location>
  </error-page>
  <error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/HTTP500.html</location>
  </error-page>
  <error-page>
    <!-- Unsupported servlet method -->
    <error-code>503</error-code>
    <location>/HTTP503.html</location>
  </error-page>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
