html {
}

body {
    position: relative;
    height: 100%;
}

.msg {
    position: fixed;
    z-index: 99;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, .8);
    font-size: 2em;
    padding: 1em 2em;
    border-radius: 1em;
    display: none;
}

.cat-loading {
    position: fixed;
    z-index: 98;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    text-align: center;
    color: #ffffff;
    background: url("../images/cat_loading.gif") center center no-repeat;
    display: none;
}

.top_banner {
    background: linear-gradient(to bottom, #54a8d2, white);
    width: 100%;
    margin: 0;
    height: 8vh;
}

.top_banner .login_button {
    position: absolute;
    z-index: 11;
    right: 5%;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8em;
    line-height: 7vh;
    padding: 0 2vw 0 2vw;
    opacity: .95;
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(to bottom, #0091d2, #7dc3f9);
    border-radius: 0 0 1em 1em;
}

.loading {
    display: inline-block;
    overflow: hidden;
    height: 1.3em;
    margin-top: -0.3em;
    line-height: 1.5em;
    vertical-align: text-bottom;
}

.loading::after {
    display: inline-table;
    white-space: pre;
    text-align: left;
}

.loading::after {
    content: "\A.\A..\A...";
    animation: spin4 2s steps(4) infinite;
}

.loading.line::after {
    content: "/\A–\A\\\A|";
    text-align: center;
    animation: spin4 1s steps(4) infinite;
}

@keyframes spin4 {
    to {
        transform: translateY(-6.0em);
    }
}

.login_button:hover {
    box-shadow: 2px 2px 10em 1em rgba(255, 255, 255, .8);
}

.login, .signup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    /*display: block;*/
}

.window {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 30%;
    color: #ffffff;
    padding: 2em 0 1em 0;
    background-color: rgba(23, 45, 62, 0.8);
    box-shadow: 0 0 5em .8em #ffffff;
}

.window .close {
    position: absolute;
    top: 8%;
    right: 1%;
    zoom: 2;
    color: white;
}

.window .confirm {
    cursor: pointer;
}

.login .window a {
    color: #ffffff;
    margin: 0 2em 0 2em;
}

.login .window .checkbox {
    padding-bottom: .5em;
}

.login .window .checkbox em {
    font-size: 12px;
    color: darkgray;
}

.login .window .tips {
    cursor: auto;
}

.main {
    z-index: 0;
    display: block;
    height: 85vh;
    box-shadow: #0f0f0f;
    transition: filter 400ms linear;
}

.main .slider_container {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}

.main .slider_container div {
    position: absolute;
    width: 100vw;
    height: 85vh;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 25s linear infinite;
    animation: round 50s linear infinite 0s;
}

.slider_container div:nth-child(5) {
    background: url(../images/image5.jpg) center center;
    background-size: cover;
    animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    background: url(../images/image4.jpg) center center;
    background-size: cover;
    animation-delay: 10s;
}

.slider_container div:nth-child(3) {
    background: url(../images/image3.jpg) center center;
    background-size: cover;
    animation-delay: 20s;
}

.slider_container div:nth-child(2) {
    background: url(../images/image2.jpg) center center;
    background-size: cover;
    animation-delay: 30s;
}

.slider_container div:nth-child(1) {
    background: url(../images/image1.jpg) center center;
    background-size: cover;
    animation-delay: 40s;
}

.slider_container:hover div {
    /*animation-play-state: paused;*/
}

.main .slider_container span {
    position: absolute;
    width: 100%;
    top: 90%;
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    transform: scaleY(0);
    transition: all 0.5s ease-in-out;
}

.main .slider_container:hover span {
    transform: scaleY(1);
}

@keyframes round {
    0% {
        left: 0;
        z-index: 1;
        opacity: 1;
    }
    20% {
        left: 0;
        z-index: 2;
        opacity: 1;
    }
    23% {
        left: -50%;
        z-index: 2;
        opacity: 0;
    }
    100% {
        left: -100%;
        z-index: 2;
        opacity: 0;
    }
}

.searchBox {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30vw;
    height: 50vh;
    z-index: 5;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3%;
    box-shadow: 1.2em 1.2em 5em .5em rgba(41, 41, 41, 0.3);
}

.searchBox .searchBoxContent {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

.searchBox .searchBoxContent * {
    zoom: 1.2;
}

.searchBox .searchBoxContent .confirm {
    position: absolute;
    bottom: 2%;
    width: 100%;
    cursor: pointer;
}

.footer {
    display: block;
    height: 7vh;
    box-shadow: #0f0f0f;
    background-color: #3fa1d2;
}

.untouchable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}