.nav {
    position: absolute;
    height: inherit;
    width: 15%;
    line-height: 3em;
    box-shadow: .1em 0 0 0 #2b542c;
}

.nav li, .nav dl {
    margin-left: 3em;

}

.container {
    position: absolute;
    left: 16%;
    width: 85%;
    height: inherit;
    background: linear-gradient(radio, white 10%, #eff8ff);
}
