.left-nav {
    position: absolute;
    height: inherit;
    width: 15em;
    box-shadow: .1em 0 0 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.left-nav dt {
    text-align: center;
}

.left-nav dd {
    cursor: pointer;
    text-align: center;
    line-height: 3em;
    background-color: #dfdfdf;
    margin: 2px;
}

.container {
    position: absolute;
    left: 15em;
    width: calc(100% - 15em);
    height: inherit;
    background: linear-gradient(to bottom, white 10%, #eff8ff);
    overflow-y: auto;
    overflow-x: hidden;
}

/* check_my_order and check_my_booking*/
.container table {
    position: absolute;
    left: 5%;
    width: 90%;
    text-align: center;
    border: 1px solid darkgrey;
}

.container table span {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.container table tr {
    height: 4em;
    border-bottom: 1px solid grey;
}

.container table tr:first-child {
    height: 2em;
}

.container table td {
    max-width: 4em;
    overflow: hidden auto;
}

.container table td:last-child {
    text-align: center;
    width: 6em;
}

.container table td .comm-btn {
    display: inline-block;
    margin: 0;
    text-align: center;
    cursor: pointer;
    width: 4em;
}

.container #modify_my_info dt {
    font-weight: bold;
    padding-bottom: .5em;
}

.container #modify_my_info dd label {
    font-size: 12px;
    width: 100%;
}

.container #modify_my_info .btn {
    margin: auto;
}

.container #modify_my_info .info {
    position: relative;
    border: 0;
    width: 35em;
}

.container #modify_my_info .info tr {
    text-align: right;
    height: 2.5em;
    border: 0;
}

.container #modify_my_info .info tr td {
    width: 20%;
}

.container #book_a_room .resList {
    margin: 2em;
}

.container #modify_rooms_type div table {
    position: relative;
    margin-bottom: 3em;
}

.container #modify_user_info .addAccount table {
    position: relative;
    width: 20em;
    border: 0;
}

.container #modify_user_info .addAccount table tr {
    border: 0;
    height: 2em;
}

.container #modify_user_info .addAccount table input {
    width: 100%;
}

.container #modify_user_info .addAccount table select {
    width: 100%;
}

.container #modify_user_info .addAccount table tr td:nth-child(1) {
    width: 4em;
    text-align: right;
}

.container #modify_user_info .addAccount table tr td:last-child {
    text-align: center;
}